<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Login</title>
</head>
<body>
  <form method="POST" action="{% url 'dashboard' %}">
    {% csrf_token %}
    <div class="container">
      <label for="username">Nome de usuário</label>
      <input type="text" id="username" name="username" autocomplete="off">
    </div>
    <div class="container">
      <label for="password">Senha</label>
      <input type="password" id="password" name="password">
    </div>
    <p>Ainda não se cadastrou?<a href="{% url 'cadastro' %}">Clique aqui</a></p>
    <input type="submit" value="Logar">
  </form>
</body>
</html>